@charset "utf-8";

/* 素材 */
.ico-sdk,
.ico-setup,
.ico-cloud,
.ico-api,
.ico-node,
.ico-algo {display: inline-block;background: url(//mqq-imgcache.gtimg.cn/res/web/open_blockchain/img/developer/ico_dev.png) 0 0 no-repeat;}
.ico-sdk {width: 82px;height: 72px;}
.ico-setup {width: 82px;height: 84px;background-position: -88px 0;}
.ico-cloud {width: 84px;height: 84px;background-position: -172px 0;}
.ico-api {width: 84px;height: 84px;background-position: 0 -88px;}
.ico-node {width: 92px;height: 88px;background-position: -88px -88px;}
.ico-algo {width: 68px;height: 82px;background-position: -184px -88px;}


.developer .dev-btn {display: inline-block;width: 192px;height: 40px;line-height: 40px;background: #FE8F35;font-size: 16px;color: #fff;margin-top: 30px;}
.developer .dev-title {text-align: center;font-size: 42px;}
.developer .down-ul {margin-right: -96px;}
.developer .down-ul .down-li {float: left;width: 200px;margin-right: 96px;text-align: center;}
.developer .down-ul .down-title {font-size: 20px;margin-bottom: 15px;}
.developer .down-ul .down-info {font-size: 16px;}
.developer .down-area {width: 792px;margin: 0 auto;}
.developer .down-ul .down-li .ico-area {height: 88px;}


.developer .banner {height: 680px;background: url(//mqq-imgcache.gtimg.cn/res/web/open_blockchain/img/developer/banner.jpg) 50% 0 no-repeat;}


.developer .s1-des,
.developer .s1-info {text-align: center;font-size: 16px;}
.developer .s1-des {margin-bottom: 33px;}
.developer .s1-info {width: 940px;border-top: 1px solid #C2C2C2;margin: 0 auto;padding: 30px 0 40px;}
.developer .s1 {background: #F3F3F3;padding: 70px 0 100px;}
.developer .s1 .dev-title {margin-bottom: 5px;}
.developer .s1 .down-title {margin-top: 12px;}

.developer .s2 {padding: 100px 0 120px;}
.developer .s2 .dev-title {margin-bottom: 80px;}
.developer .s2 .down-title {margin-top: 40px;}


/* ============================================================
   公共样式
   ============================================================ */
.developer { background-color: #f3f3f3; }
a { color: #2380f3; }
.icon-mail { display: inline-block; width: 88px; height: 88px; background: url('//mqq-imgcache.gtimg.cn/res/web/open_blockchain/img/developer/icon_mail.png') no-repeat; background-size: 100%; vertical-align: middle; }
.icon-upload { display: inline-block; width: 54px; height: 45px; background: url('//mqq-imgcache.gtimg.cn/res/web/open_blockchain/img/developer/icon_upload.png')no-repeat; background-size: 100%; vertical-align: middle; }
.icon-success { display: inline-block; width: 88px; height: 88px; background: url('//mqq-imgcache.gtimg.cn/res/web/open_blockchain/img/developer/icon_success.png')no-repeat; background-size: 100%; vertical-align: middle; }

.developer .main { padding: 80px 0 0 0; width: 1180px; margin: 70px auto 0; }

.developer .steps { background-color: #ececec; padding: 32px 80px; font-size: 0; }
.developer .steps .step { display: inline-block; text-align: center; margin-left: 389px; position: relative; }
.developer .steps .step:first-child { margin-left: 0; }
.developer .steps .step:before { content:""; display: block; height: 3px; background-color: #dedede; position: absolute; top: 29px; z-index: 1; }
.developer .steps .step:first-child:before { display: none; }
.developer .steps .step:nth-child(2):before { width: 401px; left: -401px; }
.developer .steps .step:last-child:before { width: 408px; left: -389px; }
.developer .steps .step.active:before { background-color: #228be4; }
.developer .steps .icon-step { width: 60px; height: 60px; display: block; border: 3px solid #dddddd; border-radius: 50%; font-size: 36px; color: #dddddd; font-style: normal; text-align: center; line-height: 54px; margin: 0 auto; box-sizing: border-box; }
.developer .steps .step-name { font-size: 14px; color: #888888; margin-top: 15px; }
.developer .steps .step.active .icon-step { border-color: #228be4; color: #228be4; }
.developer .steps .step.active .step-name { color: #010101; }

/**
    * @name       : mod-input
    * @explain    : 输入框
    * @type       : 基类
    * @dependent  : 无
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="mod-input">
        <label for="" class="mod-input-label">邮箱</label>
        <input type="text">
    </div>
**/

.mod-input {  }
.mod-input-label { font-size: 14px; color: #000; width: 106px; display: inline-block; }
.mod-input input[type="text"],
.mod-input input[type="password"] { width: 350px; height: 45px; box-sizing: border-box; border: 1px solid #e5e5e5; padding-left: 20px; font-size: 14px; }
.mod-input input:focus { outline: none; }
.mod-input-tips { font-size: 14px; color: #b2b2b2; margin-left: 110px; margin-top: 10px; }
.mod-input-tips:before { content: ""; width: 16px; height: 16px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABRklEQVQ4jZ3Tv0ocYRQF8N+O64pY+AjBbQSVuA8QOwuDNuIrCKYQlJi3WIyNYAK+gKVgwCKd2gv+rQTJNnkAEdessfjuyDiMCh64zHDmO2fud//Umu2OEsawiM8YCe4K+9jGefFwVnhvYBMn+IN5DEcsBHeCHxgsGzTwC//Qjw1c4i7iIrh+3GAvNE8GGzjDKh4KWR1E5HjAWmTyHeoYxxIGysUI1Cq4tchsqy4V7Bt6FQenXjDthWYxw4xU4SqUr1DEPmbqaEptqsKnF3ihaWavHHgLDXSz3OkdBh9wnYm7vMNgGr9rzXZnAsdSG8ud+B/Pciv7pDa2MpziJ9Yr/nKIowp+PTSntVimfJTP8NXzaSwiQxstadm6eRe6mJUm8x4rGJVmf0ia1pX4NoS50Dzbxi6W8VFa411pcf5iJ7hJfMFtLnoEzzJJ9Ob5pqQAAAAASUVORK5CYII=') no-repeat; display: inline-block; vertical-align: middle; margin-right: 10px; }
.mod-input .form-error { font-size: 14px; color: #e60012; margin-top: 6px; }
.mod-input .form-error:before { content: ""; width: 16px; height: 16px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABAklEQVQ4ja3TMU4CURSF4e8NhAVAZSmVERPdgI2xwOAysLB0I1pZEN0GiQWxwcJSE2JptMGK2oQEtJg3yTjMKFFP+d49/70z79ww1VTQNvo4wmY8e8YNrvGULw45QAPnOEVSpEYtcYUzvOcBDQxxWGEs6jZOOM86XZSZW+Oh1nhYBjiI0wpTzQ4eUStWbXzMwFtolUEW2E2kP2zFvIZq6Cfo/sKcqZug/QdAu+q51tW8Lg3JVunt3T0hfAd4rUsTVgqY7fd+mmAUppo7eFDyElkGKkAL7CWYYFDZo/oTBpj8W5Tn6OFSujBVWsbOx9HzZRszdXAiDVg7Fr5gJF3nSb74Ewe/O6NfUoOnAAAAAElFTkSuQmCC') no-repeat; display: inline-block; vertical-align: middle; margin-left: 110px; margin-right: 10px; }
::-webkit-input-placeholder { color: #b2b2b2; }
::-moz-placeholder { color: #b2b2b2; }
:-ms-input-placeholder { color: #b2b2b2; }
.mod-input input[type="text"]:disabled { background-color: #ebebeb; cursor: not-allowed; }
.mod-input-label.input-label-star { margin-bottom: 4px; }
.mod-input-label.input-label-star:after { content: "*"; color: #e60012; font-size: 18px; vertical-align: middle; margin-left: 10px; }

/**
    * @name       : ext-input-captcha
    * @explain    : 输入框
    * @type       : 扩展类
    * @dependent  : 短信验证码输入框
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="mod-input ext-input-captcha">
        <label for="" class="mod-input-label">手机号码</label>
        <input type="text" placeholder="请填写常用手机号码">
        <a href="javascript:;" class="mod-btn">获取验证码</a>
    </div>
**/

.mod-input.ext-input-captcha {  }
.mod-input.ext-input-captcha input { width: 150px; }
.mod-input.ext-input-captcha .mod-btn { height: 45px; border-radius: 0; margin-left: -4px; }

/**
    * @name       : ext-input-large
    * @explain    : 长输入框
    * @type       : 扩展类
    * @dependent  : 无
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="mod-input ext-input-large">
        <label for="" class="mod-input-label input-label-star">公司名称</label>
        <input type="text">
    </div>
**/

.mod-input.ext-input-large {  }
.mod-input.ext-input-large .mod-input-label { width: 100%; }
.mod-input.ext-input-large input { width: 100%; display: block; }
.mod-input.ext-input-large .form-error:before { margin-left: 0; }

/**
    * @name       : mod-btn
    * @explain    : 按钮
    * @type       : 基类
    * @dependent  : 无
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <a href="javascript:;" class="mod-btn">下一步</a>
**/

.mod-btn { width: 160px; height: 42px; color: #fff; background-color: #fe8f35; display: inline-block; text-align: center; line-height: 42px; font-size: 16px; border-radius: 2px; vertical-align: middle; box-sizing: border-box; }
.mod-btn:hover { opacity: 0.8; color: #fff; text-decoration: none; }
.mod-btn.disabled { background-color: #b2b2b2; cursor: not-allowed; }
.mod-btn.ext-btn-white { background-color: #f8f8f8; border: 1px solid #b0b3b3; color: #333; }

/**
    * @name       : mod-checkbox
    * @explain    : checkbox
    * @type       : 基类
    * @dependent  : 无
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="mod-checkbox">
        <input type="checkbox">
        <label for="">我同意并遵守上述的<a href="javascript:;" class="">《腾讯可信区块链内测协议》</a></label>
    </div>
**/

.mod-checkbox { font-size: 14px; }

.mod-checkbox input[type='checkbox'] { position: absolute; display: none; }
.mod-checkbox input[type='checkbox'][disabled] { cursor: not-allowed; }
.mod-checkbox input[type='checkbox'] + label { position: relative; display: block; padding-left: 30px; cursor: pointer; vertical-align: middle; font-size: 14px; line-height: 1.4em; }
.mod-checkbox input[type='checkbox'] + label:hover:before { border: 1px solid #2196F3; }
.mod-checkbox input[type='checkbox'] + label:before { position: absolute; top: 0; left: 0; display: inline-block; width: 20px; height: 20px; content: ''; -ms-transition: border .2s ease; -webkit-transition: border .2s ease; transition: border .2s ease; border: 1px solid #e0e0e0; background: #fff; box-sizing: border-box; }
.mod-checkbox input[type='checkbox'] + label:after { position: absolute; content: ''; -ms-transition: all .2s ease; -webkit-transition: all .2s ease; transition: all .2s ease; }
.mod-checkbox input[type='checkbox'][disabled] + label { cursor: not-allowed; color: #d0d5d9; }
.mod-checkbox input[type='checkbox'][disabled] + label:hover,
.mod-checkbox input[type='checkbox'][disabled] + label:before,
.mod-checkbox input[type='checkbox'][disabled] + label:after { cursor: not-allowed; }
.mod-checkbox input[type='checkbox'][disabled] + label:before { border-color: #d0d5d9; }
.mod-checkbox input[type='checkbox']:checked + label:before { -ms-animation-name: none; -webkit-animation-name: none; animation-name: none; }
.mod-checkbox input[type='checkbox']:checked + label:after { -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
.mod-checkbox input[type='checkbox'] + label:before { border-radius: 3px; }
.mod-checkbox input[type='checkbox'] + label:after { top: 2px; left: 7px; width: 5px; height: 10px; -ms-transform: scale(0) rotate(45deg); -webkit-transform: scale(0) rotate(45deg); transform: scale(0) rotate(45deg); border-width: 2px; border-style: solid; border-color: #2380f3; border-top: 0; border-left: 0; }

.mod-checkbox input[type='checkbox']:checked + label:before { border-color: #e0e0e0; background: #fff; }
.mod-checkbox input[type='checkbox']:checked + label:after { -ms-transform: scale(1) rotate(45deg); -webkit-transform: scale(1) rotate(45deg); transform: scale(1) rotate(45deg); }

.mod-checkbox input[type='checkbox']:checked[disabled] + label:before { border: #b2dbfb; background: #b2dbfb; }

/**
    * @name       : mod-upload
    * @explain    : upload
    * @type       : 基类
    * @dependent  : 无
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="mod-upload">
        <i class="icon-upload"></i>
        <p class=""><a href="javascript:;" class="">添加文件</a> 或讲文件拖至此处</p>
        <p class="">文件大小限制：5M</p>
    </div>
**/

.mod-upload { width: 100%; height: 115px; border: 1px solid #e5e5e5; background-color: #fff; box-sizing: border-box; }
.mod-upload-empty { padding: 34px 0 0 205px; }
.mod-upload .icon-upload { float: left; }
.mod-upload-title { font-size: 14px; padding-left: 82px; line-height: 1.6; }
.mod-upload-tips { font-size: 14px; color: #888; padding-left: 82px; }
.mod-upload-result { padding: 21px 0 0 197px; }
/*.mod-upload-result p { font-size: 14px; color: #000; }*/
/*.mod-upload-result span { color: #888; }*/
.mod-upload-result .pic-review { float: left; }
.mod-upload-result .mod-upload-title { padding-top: 12px; }

/**
    * @name       : mod-sort
    * @explain    : sort
    * @type       : 基类
    * @dependent  : 无
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="mod-sort">
        <p class="mod-sort-title">一级分类</p>
        <ul class="">
            <li class="">
                <a href="javascript:;" class="">IT/通信/电子/互联网</a>
            </li>
        </ul>
    </div>
**/

.mod-sort {}
.mod-sort .mod-sort-title { font-size: 14px; color: #888; margin-bottom: 4px; }
.mod-sort .mod-sort-content { border: 1px solid #e5e5e5; height: 340px; box-sizing: border-box; background-color: #fff; overflow: auto; }
.mod-sort .mod-sort-item a { line-height: 32px; color: #000; font-size: 14px; display: block; text-decoration: none; padding-left: 15px; }
.mod-sort .mod-sort-item a:hover { background-color: #f3f3f3; }
.mod-sort .mod-sort-item.active a { background-color: #f3f3f3; color: #2380f3; }

/**
    * @name       : ext-first-sort
    * @explain    : sort
    * @type       : 扩展类
    * @dependent  : 一级分类
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="mod-sort ext-first-sort">
        <p class="mod-sort-title">一级分类</p>
        <ul class="">
            <li class="">
                <a href="javascript:;" class="">IT/通信/电子/互联网</a>
            </li>
        </ul>
    </div>
**/

.mod-sort.ext-first-sort { width: 328px; box-sizing: border-box; display: inline-block; }
.mod-sort.ext-first-sort .mod-sort-item:before { content: ""; display: block; width: 7px; height: 11px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAYAAACzkJeoAAAAPklEQVQYlXXQSw4AQAQD0Orp3dosJpH6WYnXBczdA78MrSjD2BBXgNKPgOIIdCyBDXP7juUsXqC4PoIXAMAD3pwMrmU2M5YAAAAASUVORK5CYII=') no-repeat; vertical-align: middle; float: right; margin-top: 10px; margin-right: 14px; }

/**
    * @name       : ext-second-sort
    * @explain    : sort
    * @type       : 扩展类
    * @dependent  : 二级分类
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="mod-sort ext-second-sort">
        <p class="mod-sort-title">一级分类</p>
        <ul class="">
            <li class="">
                <a href="javascript:;" class="">IT/通信/电子/互联网</a>
            </li>
        </ul>
    </div>
**/

.mod-sort.ext-second-sort { width: 328px; box-sizing: border-box; display: inline-block; margin-left: 6px; }
.mod-sort.ext-second-sort .mod-sort-item.active:before { content: ""; display: block; width: 15px; height: 11px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAAkUlEQVQokZ3RoQ3CUBAG4K8NC+BAg8KyADMgSLCsAAqFqYQFYARgARIGYBHqkRVg+pKXiraPc5fL9+cul00OH4m1xAzFIBFucEaGSwoOMMcWZf4H3OGkbmCBaU94DIMcYzzxwrwvDLjEHUM8ooBWGPAXa9yigKILxjdXjYB9F4xxHHCtt2mF0PxzhRVGeLdB+AGCySJIy58wHgAAAABJRU5ErkJggg==') no-repeat; vertical-align: middle; float: right; margin-top: 10px; margin-right: 14px; }
/**
    * @name       : mod-select
    * @explain    : select
    * @type       : 基类
    * @dependent  : 无
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="mod-select">
        <div class="select-styled">1-100人规模</div>
        <ul class="select-options">
            <li rel="100-500人规模">100-500人规模</li>
            <li rel="500-1000人规模">500-1000人规模</li>
            <li rel="1000人以上">1000人以上</li>
        </ul>
    </div>
**/

.mod-select { font-size: 14px; color: #000; background-color: #fff; line-height: 45px; position: relative; }
.select-styled { background-color: #fff; border: 1px solid #e5e5e5; padding-left: 16px; }
.select-styled:before { content: ""; width: 13px; height: 7px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAAQklEQVQYlYWQMQ4AMAgCkdf7azt0UYopK1xEIjMLV4G/CgDYwrVnhx+UKxs42rAZG/jUpwQUtP8q5MBnIAf1oF30AOuKDKgw3hHHAAAAAElFTkSuQmCC') no-repeat; display: inline-block; vertical-align: middle; float: right; margin-top: 20px; margin-right: 20px; }
.select-styled.active:before { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAATUlEQVQYlYWOwQ3AMAgDDUt7BqZ2PqUtBAl/AInT2SThn4jIVQAsD5Lvj2OO2iwp0GPJx7SoNfigDpAEyRE0SSPQGhS7bwCAy+gbMIEHcgMrBHVNm28AAAAASUVORK5CYII=') no-repeat; }
.select-options { border: 1px solid #e5e5e5; border-top: none; position: absolute; width: 100%; background-color: #fff; box-sizing: border-box; }
.select-options li { padding-left: 16px; }
.select-styled:hover,
.select-options li:hover { background-color: #f3f3f3; cursor: pointer; }

/**
    * @name       : mod-textarea
    * @explain    : textarea
    * @type       : 基类
    * @dependent  : 无
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <textarea name="" id="" class="mod-textarea"></textarea>
**/

.mod-textarea { border: 1px solid #e5e5e5; background-color: #fff; overflow: auto; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-appearance: none; background-clip: padding-box; margin: 0; padding: 0; white-space: normal; vertical-align: top; resize: none; width: 666px; height: 155px; font-size: 14px; line-height: 1.2; padding: 16px; box-sizing: border-box; }

/**
    * @name       : mod-tooltip
    * @explain    : tooltip
    * @type       : 基类
    * @dependent  : 无
    * @author     : oceansong
    * @version    : 1.0
    * @html       :

    <div class="tooltip">Hover over me
        <span class="tooltiptext">Tooltip text</span>
    </div>
**/

.tooltip { position: relative; display: inline-block; }
.tooltip .tooltiptext { visibility: hidden; width: 230px; background-color: rgba(0, 0, 0, 0.7); color: #fff; text-align: center; padding: 10px 0; border-radius: 6px; position: absolute; z-index: 1; left: 50%; margin-left: -115px; top: -52px; opacity: 0;     transition: opacity .6s; }
.tooltip.active .tooltiptext { visibility: visible; opacity: 1; }
.tooltip-top::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent; }

/* ============================================================
   登录页
   ============================================================ */
.developer .banner .container { width: 1200px; margin: 0 auto; position: relative; }
.developer-login { width: 480px; position: absolute; top: 219px; left: 50%; background-color: rgba(255, 255, 255, 0.92); border-radius: 2px; z-index: 11;margin-left: 95px;}
.developer-login .form-header p { line-height: 49px; border-bottom: 1px solid #c8cfea; font-size: 18px; color: #333; text-align: center; }
.developer-login .mod-input { padding-bottom: 30px; }
.developer-login .mod-input-label { width: 66px; font-size: 16px; color: #333; }
.developer-login .form-content { padding: 40px 0 40px 60px; }
.developer-login .form-content input { width: 270px; }
.developer-login .mod-input .form-error:before { margin-left: 70px; }
.developer-login .forgot-link { margin-left: 280px; font-size: 14px; color: #2380f3; text-decoration: none; }
.developer-login .form-btn { margin-left: 70px; }
.developer-login .mod-btn { width: 130px; height: 35px; line-height: 33px; border: none;}
.developer-login .ext-btn-white { margin-left: 6px; border: 1px solid #b0b3b3;}

.developer-progress { width: 1180px; margin: 0 auto; padding: 60px 0 117px 0; }
.developer .progress-subtitle { font-size: 20px; color: #000; text-align: center; padding-bottom: 15px; }
.developer .progress-title { font-size: 42px; color: #010101; text-align: center; padding-bottom: 80px; }
.developer .icon-progress {background: url(//mqq-imgcache.gtimg.cn/res/web/open_blockchain/img/developer/icon_progress.png) no-repeat; display: block; margin: 0 auto; margin-bottom: 30px; }
.developer .icon-progress-1 {width: 84px; height: 85px; background-position: -5px -5px; }
.developer .icon-progress-2 {width: 78px; height: 86px; background-position: -99px -5px; }
.developer .icon-progress-3 {width: 87px; height: 86px; background-position: -187px -5px; }
.developer .icon-progress-4 {width: 84px; height: 81px; background-position: -298px -5px; }
.developer .progress-item { display: inline-block; margin-left: 210px; }
.developer .progress-item:first-child { margin-left: 0; }
.developer .progress-item .item-name { font-size: 20px; text-align: center; margin-bottom: 10px; }
.developer .progress-item .item-time { font-size: 20px; color: #888; text-align: center; }
.developer .progress-bar { width: 1115px; height: 50px; background: url(//mqq-imgcache.gtimg.cn/res/web/open_blockchain/img/developer/progress_bar.png) no-repeat; margin: 0 auto; margin-top: 36px; }
/* banner 轮播图 */
.developer .swiper-container {width: 100%;height: 680px;}
.developer .swiper-slide {background-position: center;background-size: cover;}

/*登录页 banner 文案*/
.banner-cont {position: absolute;z-index: 11;left: 50%;top: 260px;margin-left: -480px;color: #FFF;width: 560px;}
.banner-cont .banner-title {font-size: 42px;}
.banner-cont .banner-des {font-size: 24px;margin-top: 20px;}


/* ============================================================
   填写基本信息
   ============================================================ */

.developer .form { padding: 60px 0 464px 364px; }
.developer .form .mod-input { margin-bottom: 40px; }
.developer .form .mod-checkbox { margin-bottom: 37px; margin-left: 110px; }
.developer .form .form-btn { margin-left: 110px; }
.developer .captcha { margin-left: 6px; }
.developer .change-captcha { margin-left: 9px; font-size: 14px; }

/* ============================================================
   邮箱激活
   ============================================================ */

.developer .email-check { padding: 60px 0 582px 307px; }
.developer .icon-mail { float: left; }
.developer .email-check .mail-thank-title { font-size: 16px; color: #000; padding-top: 16px; padding-left: 108px; }
.developer .email-check .mail-thank-tips { padding-top: 6px; padding-left: 108px; }
.developer .email-check .mail-thank-tips,
.developer .email-check .no-mail-title { font-size: 14px; color: #888; }
.developer .email-check .no-mail-title { padding-bottom: 11px; }
.developer .email-check .no-mail-way { font-size: 14px; color: #000; }
.developer .email-check .no-mail-way li { padding-bottom: 9px; }
.developer .email-check .go-email { padding: 40px 0 0 108px; }
.developer .email-check .no-mail { padding: 56px 0 0 108px; }
.developer .email-check .tooltip .tooltiptext { margin-left: -30px; }

/* ============================================================
   完善开发者资料
   ============================================================ */

.complete-material { padding: 49px 0 501px 0; }
.complete-material .complete-title { font-size: 0; }
.complete-material .enterprise-developer { font-size: 24px; color: #000; border-bottom: 3px solid #2280f4; display: inline-block; width: 159px; text-align: center; vertical-align: middle; text-decoration: none; line-height: 48px; }
.complete-material .individual-developer { font-size: 20px; color: #b2b2b2; border-bottom: 3px solid #8e8e8e; display: inline-block; width: 996px; vertical-align: middle; text-decoration: none; cursor: not-allowed; padding-top: 6px; line-height: 42px; padding-left: 25px;  }
.complete-material .ext-input-captcha input { width: 189px; }
.complete-material .ext-input-captcha .mod-btn { width: 162px; margin-left: -5px; }

.complete-info { width: 666px; padding: 60px 0 0 256px }
.complete-info .mod-input { margin-bottom: 40px; }

.developer-success { padding: 60px 0 836px 353px; }
.developer-success .icon-success { float: left; }
.developer-success .success-title { font-size: 16px; color: #000; padding-left: 108px; line-height: 32px; padding-top: 12px; }
.developer-success .success-tips { font-size: 14px; color: #888; padding-left: 108px; line-height: 28px; }

